@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 160 30% 25%;
    --card: 0 0% 100%;
    --card-foreground: 160 30% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 160 30% 25%;
    --primary: 160 50% 92%;
    --primary-foreground: 160 30% 25%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 160 30% 25%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 160 20% 45%;
    --accent: 200 50% 92%;
    --accent-foreground: 160 30% 25%;
    --destructive: 0 80% 94%;
    --destructive-foreground: 0 100% 20%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 160 40% 60%;
    --chart-1: 160 40% 40%;
    --chart-2: 160 50% 50%;
    --chart-3: 160 30% 60%;
    --chart-4: 160 25% 70%;
    --chart-5: 160 20% 80%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 220 13% 97%;
    --foreground: 160 30% 25%;
    --card: 0 0% 100%;
    --card-foreground: 160 30% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 160 30% 25%;
    --primary: 160 50% 92%;
    --primary-foreground: 160 30% 25%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 160 30% 25%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 160 20% 45%;
    --accent: 200 50% 92%;
    --accent-foreground: 160 30% 25%;
    --destructive: 0 80% 94%;
    --destructive-foreground: 0 100% 20%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 160 40% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
